<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Semideus">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Google Web Fonts -->
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Geneva;
        }
    </style>
</head>
<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary py-3 d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white pr-3" href="/faqs">FAQs</a>
                        <span class="text-white">|</span>
                        <a class="text-white px-3" href="/help">Help</a>
                        <span class="text-white">|</span>
                        <a class="text-white pl-3" href="/support">Support</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="https://www.facebook.com/?locale=pt_BR" target=”_blank”>
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-white px-3" href="https://x.com/?lang=pt-br" target=”_blank”>
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-white px-3" href="https://br.linkedin.com/" target=”_blank”>
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-white px-3" href="https://www.instagram.com/" target=”_blank”>
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-white pl-3" href="https://www.youtube.com/" target=”_blank”>
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
                <a href="/" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Cores</span>Charme</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/sobre">Sobre</a>
                        <a class="nav-link" href="/produtos">Produtos</a>
                    </div>
                    <a href="/" class="navbar-brand mx-5 d-none d-lg-block">
                        <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Cores&</span>Charme</h1>
                    </a>
                    <div class="navbar-nav mr-auto py-0">
                        <a class="nav-link" href="/contato">Contato</a>
                        <a href="#" id="cart-button" class="nav-link">
                            <span class="badge badge-pill badge-primary" id="cart-counter">0</span>
                        Carrinho</a>
                        <a class="nav-link" href="#">Login</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Content -->
    <div class="content mt-4">
        {{{body}}}
    </div>

    <!-- Footer Start -->
    <div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
        <div class="container text-center py-5">
            <div class="row">
                <div class="col-12 mb-4">
                    <a href="index.html" class="navbar-brand m-0">
                        <img src="img/logo2.png" alt="">
                    </a>
                </div>
                <div class="col-12 mb-4">
                    <a class="btn btn-outline-secondary btn-social mr-2" href="https://x.com/?lang=pt-br" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-2" href="https://www.facebook.com/?locale=pt_BR" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-2" href="https://br.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-secondary btn-social" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-12 mt-2 mb-4">
                    <div class="row">
                        <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                            <h5 class="font-weight-bold mb-2">Entre em Contato</h5>
                            <p class="mb-2">rua x, Salvador, BA</p>
                            <p class="mb-0">(71)9-9999-9999</p>
                        </div>
                        <div class="col-sm-6 text-center text-sm-left">
                            <h5 class="font-weight-bold mb-2">Horário de Funcionamento</h5>
                            <p class="mb-2">Seg – Sáb, 8:00H – 17:00H</p>
                            <p class="mb-0">Domingo: Fechado</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p class="m-0">&copy; <a href="/">Cores&Charme</a>. Todos os Direitos Reservados. Designed by SemiDeus</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Admin Register Modal -->
    <div class="modal fade" id="adminRegisterModal" tabindex="-1" role="dialog" aria-labelledby="adminRegisterModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adminRegisterModalLabel">Cadastro de Administrador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="adminRegisterForm">
                        <div class="form-group">
                            <label for="admin-username">Usuário:</label>
                            <input type="text" class="form-control" id="admin-username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="admin-password">Senha:</label>
                            <input type="password" class="form-control" id="admin-password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">Carrinho de Compras</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="cartItems" class="table table-striped">
                        <!-- Items serão inseridos aqui pelo JS -->
                    </table>
                    <div id="total-price" style="font-weight: bold; text-align: right; margin-top: 10px;">Total: R$ 0.00</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continuar Comprando</button>
                    <button type="button" class="btn btn-primary" id="checkout-button">Finalizar Compra</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/main.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/buynow.js"></script>
    <script src="js/finalizar.js"></script>
    <script>
        $(document).ready(function() {
            // Get current URL path
            var path = window.location.pathname;
            // Iterate over each nav-link
            $('.navbar-nav .nav-link').each(function() {
                // If the href matches the current path
                if ($(this).attr('href') === path) {
                    // Add active class
                    $(this).addClass('active');
                } else {
                    // Remove active class
                    $(this).removeClass('active');
                }
            });
        });
    </script>
    <script>
    $(document).ready(function() {
        // Handle admin register form submission
        $('#adminRegisterForm').submit(function(event) {
            event.preventDefault();
            var username = $('#admin-username').val();
            var password = $('#admin-password').val();

            // Enviar uma solicitação AJAX para o servidor para o cadastro de admin
            $.ajax({
                type: 'POST',
                url: '/cadastro-de-admin',
                data: { username: username, password: password },
                success: function(response) {
                    // Lógica de sucesso do cadastro de admin
                    alert('Cadastro de admin realizado com sucesso');
                    window.location.href = '/login'; // Redirecionar após o cadastro
                },
                error: function(xhr, status, error) {
                    // Lógica de erro do cadastro de admin
                    alert('Erro no cadastro de admin: ' + error);
                }
            });
        });
    });
    </script>
</body>
</html>
