<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato | IB Story</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <main>
        <section class="container contact">
            <h1>Entre em Contato</h1>
            <div class="contact-info">
                <p><strong>Telefone:</strong> (11) 1234-5678</p>
                <p><strong>Email:</strong> contato@coresecharme.com</p>
                <p><strong>Instagram:</strong> @coresecharme</p>
            </div>
            <div class="map-container">
                <!-- Substitua a URL incorporada pelo link de incorporação do Google Maps -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15553.610220056627!2d-38.3664177!3d-12.9460731!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7161766575eb855%3A0x858090629a38d4ce!2sIB%20Story%26Store!5e0!3m2!1spt-BR!2sbr!4v1716408179514!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
