<head>
    <style>
        h1{
            text-align: center;
        }
        p{
            font-size: large;
        }
    </style>
</head>
<body>
    <main>
        <section class="container about">
            <br><br>
            <h1>Sobre a Cores&Charme</h1>
            <br><br>
            <p>Bem-vindo à Cores&Charme, sua loja de cosmeticos onde voce encontra o melhor pra você e sua pele.</p><br>
            <br>
            <img src="/img/Banner2.jpg" alt="" class="img-fluid">
            <br><br>
            <p>Nós na Cores&Charme estamos comprometidos em oferecer a você as últimas tendências em cosmeticos, desde cremes populares até a comesticos de alta qualidade para ocasiões especiais.</p>
            <p>Nossa missão é ajudar você a expressar o melhor da sua beleza  através de nossos cosmeticos cuidadosamente selecionados.</p><br>
            <p>Descubra a beleza da moda na Cores&Charmes.</p>
            <br> <br> <br>
        </section>
        <div class="text-center mt-4">
            <a href="/produtos" class="btn btn-primary btn-lg">Veja nossos produtos</a>
        </div>
        <br><br><br><br>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
