<head>
    <style>
        img{
            margin: auto;
            display: flex;
            justify-content: center;
            width: 70%;
            height: auto;
        }
    </style>
</head>
<body>
    <br><br><br>
    <img class="imgfaqs" src="/img/gif.gif" alt="">
    <br><br><br>
</body>